
.start-button{
    /* display: flex; */
    /* flex: wrap; */
    font-size: 75px;
    position: relative;
    left: 44%;
    bottom: -100px;
    background-color: midnightblue;
    color:yellow;
    border: 5px solid black;
    
}
body{
    background-color: rgb(80, 76, 76);
}

ul button{
    margin: 70px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
    color:yellow;
    background-color: midnightblue;

}
.question{
    font-size: 50px;
    margin: 10px;
    position: relative;
    bottom: 80px;
    color: yellow;
    background-color: midnightblue;
    border: 2px solid black;
    width: 200px;
}

.answers{
   position:relative;
   left: 20%;
   bottom: -50px;
    font-size: 30px;

}
